.wrapperFormRegister {
  width: 70%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
  border-radius: 20px;

  position: relative;
  overflow: hidden;
}

.wrapperFormRegister form {
  /* border: 5px solid rgb(238, 240, 241); */
  padding: 20px 20px 50px 20px;
  width: 94%;
  gap: 10px;
  z-index: 120;
}

.wrapperFormRegister input {
  display: block;
  width: 300px;
  /* padding: 5px 5px; */
}

/* .wrapperFormRegister label {
  font-weight: 400;
  display: block;
  margin-top: 10px;
} */

.wrapperFormRegister button {
  padding: 15px 10px;
  margin-top: 15px;

  border: none;
  display: block;
  width: 300px;

  background-color: royalblue;
  color: #fff;

  font-weight: 700;

  cursor: pointer;
  border-radius: 5px;

  transition: 0.3s;
}

.wrapperFormRegister button:hover {
  background-color: #432bb8;
}

.titleBackground {
  margin: 0;
  padding: 0;
  position: absolute;
  right: -8%;
  bottom: -40%;
  opacity: 0.05;

  /* font-size: 370px; */
  z-index: 0;
  /* writing-mode: vertical-lr; */

  transition: 0.3s;
}
